/* –––––––– Navbar –––––––––––––– */
.header{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  position: relative;
}

.header .logo-container{
  width: 100%;
  text-align: center;
  padding: 1em 0;
}

.logo-container a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ab8402;
  transition: color 0.3s ease;
}

.logo-container a:hover {
  color: #ffc400;
}

.main-nav {
  width: 100%;
  display: flex;
}

.main-nav.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  z-index: 10;
}

.nav-list {
  width: 100%;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  justify-content: space-between;
}

.nav-item {
  text-align: center;
  border-right: 1px solid #000;
}

.nav-item:last-child {
  border-right: none;
}

.nav-link {
  display: block;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  transition: color 0.3s ease;
}

.nav-link i {
  margin-right: 0.5em;
}

.nav-link:hover{
  color: #ffc400;
}

.nav-link.current{
  color: #ab8402;
  text-decoration: underline;
  font-weight: bold;
}

.nav-toggle {
  display: none; /* Default hidden */
}

/* ––––––––– Footer ––––––––––––– */
footer {
  background-color: transparent;
  backdrop-filter: blur(10px);
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  border-top: 1px solid black;
}

.footer-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-column-1 {
  text-align: left;
}

.footer-column-2 {
  text-align: center;
}

.footer-column-3 {
  text-align: right;
}

footer h3 {
  padding-bottom: 0.6em;
  font-size: 1.2em;
}

.footer-sidokarta {
  list-style: none;
  padding: 0;
}

.footer-sidokarta li {
  margin-bottom: 5px;
}

.footer-sidokarta a {
  color: inherit;
  text-decoration: none;
}

.footer-sidokarta a:hover {
color: #ffc400;
}

.social-icons a {
  display: inline-block;
  margin-right: 2rem;
  font-size: 1.5em; /* Adjust icon size */
  color: inherit; /* Icon color */
}

.social-icons a:hover {
  color: #ffc400;
}

.copyright {
  font-size: 0.8em;
  color: #888;
  text-align: center;
  padding-top: 1.5em;
}

.footer-column-3 address {
  font-style: normal;
}
.footer-column-3 i {
  margin-right: 1rem; 
}

.footer-column-3 a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.footer-column-3 a:hover {
  color: #ffc400;
}


/* –––––––––––– Responsive adjustments ––––––––––––––– */

/* Media query for smaller screens */
@media (max-width: 768px) {
  .header {
    width: 100%;
  }

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-list {
    display: none; /* Hidden for samll screens */
    transform: translateY(-100%); /* Initial off-screen position */
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .main-nav.active .nav-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateY(0); /* Bring menu into view */
    opacity: 1; /* Make menu visible */
  }

  .nav-item {
    border-bottom: 1px solid #000;
  }

  .nav-item:last-child {
    border-bottom: none;
  }
  
  .nav-link.current{
    color: #ab8402;
    text-decoration: underline;
    font-weight: bold;
  }
  
  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 25px;
    height: 20px;
    position: fixed;
    left: 15px;
    top: 20px;
    z-index: 11;
  }

  .nav-toggle .line {
    width: 100%;
    height: 3px;
    background-color: #000;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  /* Hamburger to X animation */

  .nav-toggle.active .line:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: top left;
  }

  .nav-toggle.active .line:nth-child(2) {
    width: 0;
  }

  .nav-toggle.active .line:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: bottom left;
  }

  /* Footer */

  footer {
    position: fixed; /* Change to relative or static for better flow */
    bottom: 0;
    padding: 0.9em;
    border-top: 1px solid black;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 1em; 
  }

  .footer-column-2,
  .footer-column-3 {
    text-align: center;
  }

  .footer-column-1 { /* Hide sitemap in smaller screens */
    display: none;
  }
}

/* Notes:
– Animación depegar nav-list en @media query
 */